<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST HOME</title>
    <link rel="stylesheet" type="text/css" href="/CSS/homepage.css">
</head>
<body>

<div class="wrapper">
    <div>
        <h1> TODO LIST HOME PAGE</h1>
        <h2 th:text="${param.loginState}"></h2>
        <div class="loginBox">
            <div>
                <p>ID</p>
                <p>PASSWORD</p>
            </div>
            <div>
                <form name="loginForm" action="/todo/login" method="post">
                    <p><input type="text" name="userid" placeholder="enter ID"></p>
                    <p><input type="text" name="password" placeholder="enter PASSWORD">
                    <p><input type="submit" value="login"></p>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>