<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/homepage.css">
    <meta charset="UTF-8">
    <title>TODO LIST</title>
</head>
<body>
<div class="wrapper">
    <h1>WILL</h1>
    <form method="post" th:action="@{/todo/doneSomething}" id="todoForm">
        <th:block th:each="list : ${allList}">
            <th:block th:if="${!list.isDone()}">
                <div>
                    <input type="checkbox" th:name="checked" th:value="${list.getTno()}" th:checked="${list.isDone()}">
                    <label type="hidden" th:name="_checked" value="on"/>
                    <span th:text="${list.getTodo()}"></span>
                </div>
            </th:block>
        </th:block>
        <input type="submit" value="submit">
    </form>
    <h1>DONE</h1>
        <th:block th:each="list : ${allList}">
            <th:block th:if="${list.isDone()}">
                <div>
                    <input type="checkbox" th:name="checked" th:value="${list.getTno()}" th:checked="${list.isDone()}" disabled>
                    <label type="hidden" th:name="_checked" value="on"/>
                    <span th:text="${list.getTodo()}"></span>
                </div>
            </th:block>
        </th:block>
</div>
</body>
</html>